@if (TempData["list"] != null)
{
    <div class="alert alert-primary alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["list"]
    </div>
}

@if (TempData["add"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

        @TempData["add"]
    </div>
}

@if (TempData["delete"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["delete"]
    </div>
}

@if (TempData["update"] != null)
{
    <div class="alert alert-secondary alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["update"]
    </div>
}