@model RegisterDto

<form asp-action="Register" asp-controller="Authentication" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" asp-for="UserName">
    </div>    
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>

    <button class="btn btn-primary" type="submit">
        Register
    </button>
</form>
