@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<ul class="navbar-nav">
    @if (!signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
        </li>
    }
    else 
    {
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Logout(@User.Identity?.Name)</a>
    </li>
    }
</ul>