@model List<Product>

<div class="row">
    <div class="col-md-3">
            @await Component.InvokeAsync("Category")

        <form asp-area="" asp-action="Search" asp-controller="Product" method="post">
            <div class="mb-3">
                <label class="form-label">Min Price</label>
                <input type="text" class="form-control" name="MinPrice">
            </div>
            <div class="mb-3">
                <label class="form-label">Max Price</label>
                <input type="text" class="form-control" name="MaxPrice">
            </div>
            <div class="mb-3">
                <label class="form-label">Search Term</label>
                <input type="text" class="form-control" name="SearchTerm">
            </div>
            <div class="d-flex justify-content-center">
                <form asp-area="" asp-action="Search" asp-controller="Product" method="post">
                    <button class="btn btn-secondary" type="submit">Apply</button>
                </form>
            </div>
        </form>
    </div>

    <div class="col-md-9">
        <div class="row ">
            @foreach (var prd in Model)
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/products/1.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <a asp-controller="Product" asp-action="GetOneProduct" asp-route-id=@prd.Id>@prd.Name</a>
                                </div>
                                <div class="row text-danger">@prd.Price.ToString("c")</div>
                                <div class="row text-danger">@prd.Description</div>
                                <div class="row text-danger">@prd.AtCreated.Value.ToString("d")</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>




